<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Social Media - Johanes Marihot Perkasa Simarmata</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style4.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body style="background-image: url('greywallpaper.jpg')";>
	<div class="container2"><div class="font2">Contact Me</div></div>
	<div class="background">
		<div class="container">
			<div class="containera">
				<img src="https://pluspng.com/img-png/instagram-png-instagram-icon-1600.png" width="50" height="50">
				<div class="font">
					johanesimarmata
				</div>
			</div>
			<div class="containerb">
				<img src="https://image.flaticon.com/icons/png/512/87/87386.png" width="50" height="50">
				<div class="font">
					johanesimarmata
				</div>
			</div>
			<div class="containera">
				<img src="https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/439/aiga_mail-512.png" width="50" height="40">
				<div class="font">
					jmpsimarmata@gmail.com
				</div>

			</div>
			<div class="containerb">
				<img src="https://cdn.onlinewebfonts.com/svg/img_286083.png" width="50" height="50">
				<div class="font">
					(+62)8119505904
				</div>
			</div>
			<div class="containertombol" style="top: 20%; right : -350px">
				<a href="{% url 'homepage:myfavorite' %}"><img src="{% static 'chevron.png' %}" style="transform: rotate(180deg);"></a>
			</div>
		</div>
	</div>

</body>
</html>